In [3]:
conn = sqlite3.connect('test.db')
print("Base de datos abierta con exito");

conn.execute('''drop table if exists Partidos;''')
conn.execute("create table Partidos(partido text, fechas text, grupo text, resultado text);")

conn.execute("insert into Partidos values('Qatar vs. Ecuador','21/11/2022','GRUPO A','0,1');")
conn.execute("insert into Partidos values('Senegal vs. Holanda','21/11/2022','GRUPO A','2,5');")
conn.execute("insert into Partidos values('Qatar vs. Senegal','25/11/2021','GRUPO A','0,5');")
conn.execute("insert into Partidos values('Holanda vs. Ecuador','25/11/2021','GRUPO A','3,3');")
conn.execute("insert into Partidos values('Holanda vs. Qatar','29/11/2021','GRUPO A','5,5');")
conn.execute("insert into Partidos values('Ecuador vs. Senegal','29/11/2021','GRUPO A','3,2');")
conn.execute("insert into Partidos values('Inglaterra vs. Irán','21/11/2022','GRUPO B','4,0');")
conn.execute("insert into Partidos values('Estados Unidos vs. Ucrania-Escocia-Gales','21/11/2022','GRUPO B','1,5');")
conn.execute("insert into Partidos values('Inglaterra vs. Estados Unidos','25/11/2021','GRUPO B','4,1');")
conn.execute("insert into Partidos values('Ucrania-Escocia-Gales vs. Iran','25/11/2021','GRUPO B','2,2');")
conn.execute("insert into Partidos values('Ucrania-Escocia-Gales vs. Inglaterra','29/11/2021','GRUPO B','0,1');")
conn.execute("insert into Partidos values('Irán vs. Estados Unidos','29/11/2021','GRUPO B','0,0');")
conn.execute("insert into Partidos values('Argentina vs. Arabia Saudi','22/11/2022','GRUPO C','5,1');")
conn.execute("insert into Partidos values('México vs. Polonia','22/11/2022','GRUPO C','1,5');")
conn.execute("insert into Partidos values('Argentina vs. México','26/11/2021','GRUPO C','3,0');")
conn.execute("insert into Partidos values('Polonia vs. Arabia Saudí','26/11/2021','GRUPO C','1,2');")
conn.execute("insert into Partidos values('Polonia vs. Argentina','30/11/2021','GRUPO C','2,4');")
conn.execute("insert into Partidos values('Arabia Saudí vs. México','30/11/2021','GRUPO C','5,5');")
conn.execute("insert into Partidos values('Francia vs. Peru-Australia-EAU','22/11/2022','GRUPO D','1,1');")
conn.execute("insert into Partidos values('Dinamarca vs. Túnez','22/11/2022','GRUPO D','5,2');")
conn.execute("insert into Partidos values('Francia vs. Dinamarca','26/11/2021','GRUPO D','0,0');")
conn.execute("insert into Partidos values('Túnez vs. Perú-Australia-EAU','26/11/2021','GRUPO D','0,5');")
conn.execute("insert into Partidos values('Túnez vs. Francia','30/11/2021','GRUPO D','4,0');")
conn.execute("insert into Partidos values('Perú-Australia-EAU vs. Dinamarca','30/11/2021','GRUPO D','0,0');")
conn.execute("insert into Partidos values('España vs. Costa Rica-Nueva Zelanda.','23/11/2022','GRUPO E','2,0');")
conn.execute("insert into Partidos values('Alemania vs. Japón','23/11/2022','GRUPO E','5,3');")
conn.execute("insert into Partidos values('España vs. Alemania','27/11/2021','GRUPO E','1,2');")
conn.execute("insert into Partidos values('Japón vs. Costa Rica-Nueva Zelanda','27/11/2021','GRUPO E','2,2');")
conn.execute("insert into Partidos values('Japón vs. Espana','01/12/2021','GRUPO E','2,1');")
conn.execute("insert into Partidos values('Costa Rica-Nueva Zelanda vs. Alemania','01/12/2021','GRUPO E','3,0');")
conn.execute("insert into Partidos values('Portugal vs. Ghana','24/11/2022','GRUPO F','2,1');")
conn.execute("insert into Partidos values('Uruguay vs. Corea del Sur','24/11/2022','GRUPO F','0,2');")
conn.execute("insert into Partidos values('Portugal vs. Uruguay','28/11/2021','GRUPO F','1,1');")
conn.execute("insert into Partidos values('Corea del Sur vs. Ghana','28/11/2021','GRUPO F','3,1');")
conn.execute("insert into Partidos values('Corea del Sur vs. Portugal.','02/12/2021','GRUPO F','4,5');")
conn.execute("insert into Partidos values('Ghana vs. Uruguay.','02/12/2021','GRUPO F','2,3');")

# Localidades y fecha de los partidos de la segunda ronda

conn.execute('''drop table if exists Clasificados;''')
conn.execute("create table Clasificados(partido text, fecha text, hora text, sede text);")

conn.execute("insert into Clasificados values('1º del grupo A vs. 2º del grupo B','03/12/2022','06:00:00 PM','Estadio Khalifa, Rayán');")
conn.execute("insert into Clasificados values('1º del grupo C vs. 2º del grupo D','03/12/2022','10:00:00 PM','Estadio Ahmed bin Ali, Rayán');")
conn.execute("insert into Clasificados values('1º del grupo D vs. 2º del grupo C','04/12/2022','06:00:00 PM','Estadio Al Thumama, Doha');")
conn.execute("insert into Clasificados values('1º del grupo B vs. 2º del grupo A','04/12/2022','10:00:00 PM','Estadio Al Bayt, Jor');")
conn.execute("insert into Clasificados values('1º del grupo E vs. 2º del grupo F','05/12/2022','06:00:00 PM','Estadio Al Janoub, Al Wakrah');")
conn.execute("insert into Clasificados values('1º del grupo G vs. 2º del grupo H','05/12/2022','10:00:00 PM','Estadio 974, Doha');")
conn.execute("insert into Clasificados values('1º del grupo F vs. 2º del grupo E','06/12/2022','06:00:00 PM','Estadio Qatar Foundation, Rayán');")
conn.execute("insert into Clasificados values('1º del grupo H vs. 2º del grupo G','06/12/2022','10:00:00 PM','Estadio Icónico, Lusail');")

# Totales obtenidos de la simulación por equipo

conn.execute('''drop table if exists Resultados_Qatar;''')
conn.execute("create table Resultados_Qatar(equipo text,grupo text, puntos int, gol_diferencia int);")

conn.execute("insert into Resultados_Qatar values('ALEMANIA','GRUPO E','6','0');")
conn.execute("insert into Resultados_Qatar values('ARABIA SAUDI','GRUPO C','4','-3');")
conn.execute("insert into Resultados_Qatar values('ARGENTINA','GRUPO C','9','9');")
conn.execute("insert into Resultados_Qatar values('COREA DEL SUR','GRUPO F','6','3');")
conn.execute("insert into Resultados_Qatar values('COSTA RICA-NUEVA ZELANDA','GRUPO E','4','1');")
conn.execute("insert into Resultados_Qatar values('DINAMARCA','GRUPO D','5','3');")
conn.execute("insert into Resultados_Qatar values('ECUADOR','GRUPO A','7','2');")
conn.execute("insert into Resultados_Qatar values('ESPANA','GRUPO E','3','0');")
conn.execute("insert into Resultados_Qatar values('ESTADOS UNIDOS','GRUPO B','1','-7');")
conn.execute("insert into Resultados_Qatar values('FRANCIA','GRUPO D','2','-4');")
conn.execute("insert into Resultados_Qatar values('GHANA','GRUPO F','0','-4');")
conn.execute("insert into Resultados_Qatar values('HOLANDA','GRUPO A','5','3');")
conn.execute("insert into Resultados_Qatar values('INGLATERRA','GRUPO B','9','8');")
conn.execute("insert into Resultados_Qatar values('IRAN','GRUPO B','2','-4');")
conn.execute("insert into Resultados_Qatar values('JAPON','GRUPO E','4','-1');")
conn.execute("insert into Resultados_Qatar values('MEXICO','GRUPO C','1','-7');")
conn.execute("insert into Resultados_Qatar values('PERU-AUSTRALIA-EAU','GRUPO D','5','5');")
conn.execute("insert into Resultados_Qatar values('POLONIA','GRUPO C','3','1');")
conn.execute("insert into Resultados_Qatar values('PORTUGAL','GRUPO F','7','2');")
conn.execute("insert into Resultados_Qatar values('QATAR','GRUPO A','1','-6');")
conn.execute("insert into Resultados_Qatar values('SENEGAL','GRUPO A','3','1');")
conn.execute("insert into Resultados_Qatar values('TUNEZ','GRUPO D','3','-4');")
conn.execute("insert into Resultados_Qatar values('UCRANIA-ESCOCIA-GALES','GRUPO B','4','3');")
conn.execute("insert into Resultados_Qatar values('URUGUAY','GRUPO F','4','-1');")

conn.commit()
print("Valores insertados con éxito");

Base de datos abierta con exito
Valores insertados con éxito

In [11]:
# Tareas de limpieza
# Algunos equipos en el dataset original no vienen estandarizados por lo que se hace uso de lo siguiente para realizar las tareas
conn = sqlite3.connect('test.db')
#Irán
cursor = conn.execute('''
    UPDATE Partidos
    SET partido = REPLACE(partido, 'Iran', 'Irán')
    WHERE partido LIKE '%Iran%';
    ''')
conn.commit()

#Arabia Saudí
cursor = conn.execute('''
    UPDATE Partidos
    SET partido = REPLACE(partido, 'Arabia Saudi', 'Arabia Saudí')
    WHERE partido LIKE '%Arabia Saudi%';
    ''')
conn.commit()


# Perú
cursor = conn.execute('''
    UPDATE Partidos
    SET partido = REPLACE(partido, 'Peru-Australia-EAU', 'Perú-Australia-EAU')
    WHERE partido LIKE '%Peru-Australia-EAU%';
    ''')
conn.commit()

# España
cursor = conn.execute('''
    UPDATE Partidos
    SET partido = REPLACE(partido, 'Espana', 'España')
    WHERE partido LIKE '%Espana%';
    ''')
conn.commit()

# Costa Rica-Nueva Zelanda
cursor = conn.execute('''
    UPDATE Partidos
    SET partido = REPLACE(partido, 'Costa Rica-Nueva Zelanda.', 'Costa Rica-Nueva Zelanda')
    WHERE partido LIKE '%Costa Rica-Nueva Zelanda.%';
    ''')
conn.commit()

# Portugal
cursor = conn.execute('''
    UPDATE Partidos
    SET partido = REPLACE(partido, 'Portugal.', 'Portugal')
    WHERE partido LIKE '%Portugal.%';
    ''')
conn.commit()

# Uruguay
cursor = conn.execute('''
    UPDATE Partidos
    SET partido = REPLACE(partido, 'Uruguay.', 'Uruguay')
    WHERE partido LIKE '%Uruguay.%';
    ''')
conn.commit()

In [14]:
# Ejercicio # 1  
conn = sqlite3.connect('test.db')


####PROGRAME SU RESPUESTA DENTRO DEL CONN.EXECUTE ENTRE LAS COMILLAS

cursor = conn.execute('''
                        WITH AnalisisResultados AS (
                            SELECT 
                                trim(substr(partido, 1, instr(partido, ' vs. ') - 1)) AS Equipo1,
                                trim(substr(partido, instr(partido, ' vs. ') + 4)) AS Equipo2,
                                CAST(substr(resultado, 1, instr(resultado, ',') - 1) AS INT) AS Marcador1,
                                CAST(substr(resultado, instr(resultado, ',') + 1) AS INT) AS Marcador2,
                                grupo AS Grupo
                            FROM Partidos
                        ),
                        PuntosGoles AS (
                            SELECT 
                                Equipo1 AS Equipo,
                                Grupo,
                                CASE 
                                    WHEN Marcador1 > Marcador2 THEN 3
                                    WHEN Marcador1 = Marcador2 THEN 1
                                    ELSE 0
                                END AS Puntos,
                                Marcador1 AS GolesAnotados,
                                Marcador2 AS GolesConcedidos
                            FROM AnalisisResultados
                            UNION ALL
                            SELECT 
                                Equipo2 AS Equipo,
                                Grupo,
                                CASE 
                                    WHEN Marcador2 > Marcador1 THEN 3
                                    WHEN Marcador1 = Marcador2 THEN 1
                                    ELSE 0
                                END AS Puntos,
                                Marcador2 AS GolesAnotados,
                                Marcador1 AS GolesConcedidos
                            FROM AnalisisResultados
                        )
                        --SELECT * FROM PuntosGoles;
                        SELECT 
                            Equipo,
                            Grupo,
                            SUM(Puntos) AS Puntos,
                            SUM(GolesAnotados) - SUM(GolesConcedidos) AS Diferencia
                        FROM PuntosGoles
                        GROUP BY Equipo, Grupo
                        ORDER BY Grupo, Puntos DESC, Diferencia DESC;
                       ''') 

for row in cursor:
  print(row)
conn.close()

('Ecuador', 'GRUPO A', 7, 2)
('Holanda', 'GRUPO A', 5, 3)
('Senegal', 'GRUPO A', 3, 1)
('Qatar', 'GRUPO A', 1, -6)
('Inglaterra', 'GRUPO B', 9, 8)
('Ucrania-Escocia-Gales', 'GRUPO B', 4, 3)
('Irán', 'GRUPO B', 2, -4)
('Estados Unidos', 'GRUPO B', 1, -7)
('Argentina', 'GRUPO C', 9, 9)
('Arabia Saudí', 'GRUPO C', 4, -3)
('Polonia', 'GRUPO C', 3, 1)
('México', 'GRUPO C', 1, -7)
('Perú-Australia-EAU', 'GRUPO D', 5, 5)
('Dinamarca', 'GRUPO D', 5, 3)
('Túnez', 'GRUPO D', 3, -4)
('Francia', 'GRUPO D', 2, -4)
('Alemania', 'GRUPO E', 6, 0)
('Costa Rica-Nueva Zelanda', 'GRUPO E', 4, 1)
('Japón', 'GRUPO E', 4, -1)
('España', 'GRUPO E', 3, 0)
('Portugal', 'GRUPO F', 7, 2)
('Corea del Sur', 'GRUPO F', 6, 3)
('Uruguay', 'GRUPO F', 4, -1)
('Ghana', 'GRUPO F', 0, -4)

In [16]:
# Ejercicio # 2
conn = sqlite3.connect('test.db')

####PROGRAME SU RESPUESTA DENTRO DEL CONN.EXECUTE ENTRE LAS COMILLAS

cursor = conn.execute('''
                       WITH ClasificadosGrupo AS (
                            SELECT 
                                equipo,
                                grupo,
                                puntos,
                                gol_diferencia,
                                ROW_NUMBER() OVER (
                                    PARTITION BY grupo 
                                    ORDER BY puntos DESC, gol_diferencia DESC
                                ) AS rank
                            FROM Resultados_Qatar
                        )
                        SELECT 
                            cg.equipo,
                            cg.grupo,
                            cg.puntos,
                            cg.gol_diferencia,
                            SUBSTR(c.sede, INSTR(c.sede, ', ') + 2) || ', ' || c.fecha || ' ' || c.hora as 'Ciudad/Fecha'
                        FROM ClasificadosGrupo cg
                        JOIN Clasificados c
                            ON c.partido LIKE '%' || 
                                CASE 
                                    WHEN cg.rank = 1 THEN '1º del ' || cg.grupo
                                    WHEN cg.rank = 2 THEN '2º del ' || cg.grupo
                                END || '%'
                        WHERE cg.rank <= 2
                        ORDER BY cg.grupo, cg.rank;
                       ''')

for row in cursor:
  print(row)
conn.close()

('ECUADOR', 'GRUPO A', 7, 2, 'Rayán, 03/12/2022 06:00:00 PM')
('HOLANDA', 'GRUPO A', 5, 3, 'Jor, 04/12/2022 10:00:00 PM')
('INGLATERRA', 'GRUPO B', 9, 8, 'Jor, 04/12/2022 10:00:00 PM')
('UCRANIA-ESCOCIA-GALES', 'GRUPO B', 4, 3, 'Rayán, 03/12/2022 06:00:00 PM')
('ARGENTINA', 'GRUPO C', 9, 9, 'Rayán, 03/12/2022 10:00:00 PM')
('ARABIA SAUDI', 'GRUPO C', 4, -3, 'Doha, 04/12/2022 06:00:00 PM')
('PERU-AUSTRALIA-EAU', 'GRUPO D', 5, 5, 'Doha, 04/12/2022 06:00:00 PM')
('DINAMARCA', 'GRUPO D', 5, 3, 'Rayán, 03/12/2022 10:00:00 PM')
('ALEMANIA', 'GRUPO E', 6, 0, 'Al Wakrah, 05/12/2022 06:00:00 PM')
('COSTA RICA-NUEVA ZELANDA', 'GRUPO E', 4, 1, 'Rayán, 06/12/2022 06:00:00 PM')
('PORTUGAL', 'GRUPO F', 7, 2, 'Rayán, 06/12/2022 06:00:00 PM')
('COREA DEL SUR', 'GRUPO F', 6, 3, 'Al Wakrah, 05/12/2022 06:00:00 PM')

In [18]:
# Ejercicio # 3
conn = sqlite3.connect('test.db')

####PROGRAME SU RESPUESTA DENTRO DEL CONN.EXECUTE ENTRE LAS COMILLAS

cursor = conn.execute('''
                        WITH RankEquipos AS (
                            SELECT 
                                equipo,
                                grupo,
                                puntos,
                                NTILE(5) OVER (ORDER BY puntos DESC) AS quantile_rank --quintil
                            FROM Resultados_Qatar
                        )
                        SELECT 
                            equipo,
                            grupo,
                            puntos
                        FROM RankEquipos
                        WHERE quantile_rank = 1  --Tomar unicamente los que estan en el quintil mas alto
                        ORDER BY puntos DESC;
                        ''')
for row in cursor:
  print(row)
conn.close()

('ARGENTINA', 'GRUPO C', 9)
('INGLATERRA', 'GRUPO B', 9)
('ECUADOR', 'GRUPO A', 7)
('PORTUGAL', 'GRUPO F', 7)
('ALEMANIA', 'GRUPO E', 6)

In [24]:
# Ejercicio 8 Pyspark

import sys
from pyspark.mllib.random import RandomRDDs
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import col, desc, rank
from pyspark.sql.window import Window
from pyspark.sql import functions as F
import json

spark = SparkSession.builder.master("local").getOrCreate()
sc = spark.sparkContext

# esquema de jugador: [(ranking, nombre, codigo_pais, numero_goles, numero_partidos_jugados)]
jugador = [("1", "Cristiano Ronaldo", "32", "115", "184"),("2", "Ali Daei", "24", "109", "148"),("3", "Mokhtar Dahari", "28", "89", "142"),("4", "Ferenc Puskás", "20", "84", "89"),("5", "Lionel Messi", "5", "81", "158"),("6", "Sunil Chhetri", "21", "80", "125"),("7", "Ali Mabkhout", "13", "79", "104"),("8", "Godfrey Chitalu", "39", "79", "111"),("9", "Hussein Saeed", "23", "78", "137"),("10", "Pelé", "8", "77", "92"),("11", "Sándor Kocsis", "19", "75", "68"),("12", "Kunishige Kamamoto", "26", "75", "76"),("13", "Bashar Abdullah", "27", "75", "134"),("14", "Robert Lewandowski", "31", "74", "128"),("15", "Majed Abdullah", "4", "72", "117"),("16", "Kinnah Phiri", "29", "71", "117"),("17", "Kiatisuk Senamuang", "36", "71", "134"),("18", "Miroslav Klose", "1", "71", "137"),("19", "Piyapong Pue-on", "36", "70", "100"),("20", "Abdul Kadir", "22", "70", "111"),("21", "Stern John", "37", "70", "115"),("22", "Neymar", "8", "70", "116"),("23", "Gerd Müller", "2", "68", "62"),("24", "Romelu Lukaku", "6", "68", "101"),("25", "Carlos Ruiz Gutiérrez", "17", "68", "133"),("26", "Robbie Keane", "25", "68", "146"),("27", "Hossam Hassan", "12", "68", "176"),("28", "Luis Suárez", "38", "67", "130"),("29", "Didier Drogba", "11", "65", "105"),("30", "Jasem Al-Huwaidi", "27", "63", "83"),("31", "Ronaldo Nazario", "8", "62", "98"),("32", "Zlatan Ibrahimović", "35", "62", "120"),("33", "Ahmed Radhi", "23", "62", "121"),("34", "Abdul Ghani Minhat", "16", "61", "71"),("35", "Edin Džeko", "7", "60", "118"),("36", "Imre Schlosser", "19", "59", "68"),("37", "David Villa", "14", "59", "98"),("38", "Cha Bum-Kun", "10", "58", "135"),("39", "Ali Ashfaq", "30", "57", "89"),("40", "Carlos Pavón", "18", "57", "101"),("41", "Clint Dempsey", "15", "57", "141"),("42", "Younis Mahmoud", "23", "57", "148"),("43", "Landon Donovan", "15", "57", "157"),("44", "Samuel Eto'o", "9", "56", "118"),("45", "Romário", "8", "55", "70"),("46", "Kazuyoshi Miura", "26", "55", "89"),("47", "Jan Koller", "33", "55", "91"),("48", "Iswadi Idris", "22", "55", "97"),("49", "Fandi Ahmad", "34", "55", "101"),("50", "Joachim Streich", "3", "55", "102")]

# esquema de país: [(codigo_pais, nombre_pais)]
pais = [("1", " Alemania"),("2", " Alemania Federal"),("3", " Alemania Oriental"),("4", " Arabia Saudita"),("5", " Argentina"),("6", " Bélgica"),("7", " Bosnia y Herzegovina"),("8", " Brasil"),("9", " Camerún"),("10", " Corea del Sur"),("11", " Costa de Marfil"),("12", " Egipto"),("13", " Emiratos Arabes Unidos"),("14", " España"),("15", " Estados Unidos"),("16", " Federación Malaya/ Malasia"),("17", " Guatemala"),("18", " Honduras"),("19", " Hungría"),("20", " Hungría/ España"),("21", " India"),("22", " Indonesia"),("23", " Irak"),("24", " Irán"),("25", " Irlanda"),("26", " Japón"),("27", " Kuwait"),("28", " Malasia"),("29", " Malawi"),("30", " Maldivas"),("31", " Polonia"),("32", " Portugal"),("33", " República Checa"),("34", " Singapur"),("35", " Suecia"),("36", " Tailandia"),("37", " Trinidad y Tobago"),("38", " Uruguay"),("39", " Zambia")]

jugador_schema = StructType([
    StructField("ranking", StringType(), True),
    StructField("nombre", StringType(), True),
    StructField("codigo_pais", StringType(), True),
    StructField("numero_goles", StringType(), True),
    StructField("numero_partidos_jugados", StringType(), True)
])

pais_schema = StructType([
    StructField("codigo_pais", StringType(), True),
    StructField("nombre_pais", StringType(), True)
])

####### PROGRAME SU RESPUESTA AQUI ##############

# Respuesta 4.1
# ===============================================
df_jugador = spark.createDataFrame(jugador, jugador_schema)
df_pais = spark.createDataFrame(pais, pais_schema)

# Respuesta 4.2
# ===============================================
df_consolidado = df_jugador.join(df_pais, df_jugador.codigo_pais == df_pais.codigo_pais, 'inner') \
    .select(df_jugador.ranking, df_jugador.nombre, df_pais.nombre_pais, df_pais.codigo_pais, df_jugador.numero_goles, df_jugador.numero_partidos_jugados)

df_consolidado = df_consolidado.withColumn("numero_goles", col("numero_goles").cast("int"))

window_spec = Window.partitionBy("nombre_pais").orderBy(desc("numero_goles"))
df_consolidado = df_consolidado.withColumn("best_player_flag", rank().over(window_spec))
df_best_player_by_country = df_consolidado.filter(col("best_player_flag") == 1)
df_best_player_by_country.show()

# Respuesta 4.3
# ===============================================
df_consolidado = df_consolidado.withColumn("minutes_played", col("numero_partidos_jugados") * 90)

df_consolidado = df_consolidado.withColumn(
    "scoring_efficiency_rate", col("numero_goles") / col("numero_partidos_jugados")
)

window_spec = Window.partitionBy("nombre_pais").orderBy(
    desc("numero_goles"), desc("scoring_efficiency_rate")
)

df_consolidado = df_consolidado.withColumn("player_rank", rank().over(window_spec))

df_consolidado = df_consolidado.withColumn(
    "best_player_flag", (col("player_rank") == 1).cast("int")
)

df_best_player_by_country = df_consolidado.filter(col("best_player_flag") == 1)

# Respuesta 4.4
# ===============================================
df_jugador_join = df_jugador.select(
    df_jugador["nombre"].alias("jugador_nombre"), 
    df_jugador["codigo_pais"].alias("jugador_cod_pais"), 
    df_jugador["ranking"].alias("ranking_anterior") 
)
df_final = df_consolidado.join(
    df_jugador_join,
    (df_consolidado.nombre == df_jugador_join.jugador_nombre) &
    (df_consolidado.codigo_pais == df_jugador_join.jugador_cod_pais),
    "inner"
).select(
    "codigo_pais", "nombre_pais", "nombre", "ranking", "scoring_efficiency_rate"
)

window_spec = Window.partitionBy("codigo_pais").orderBy(desc("scoring_efficiency_rate"))
df_final = df_final.withColumn("ranking_actual", rank().over(window_spec))

result = (
    df_final.groupBy("codigo_pais", "nombre_pais")
    .agg(
        F.collect_list(
            F.struct(
                F.col("nombre").alias("nombre_jugador"),
                F.col("ranking").alias("ranking_anterior"),
                F.col("ranking_actual")
            )
        ).alias("jugadores")
    )
    .collect()
)

json_output = [
    {
        "codigo_pais": row["codigo_pais"],
        "nombre_pais": row["nombre_pais"],
        "jugadores": [
            {
                "nombre_jugador": jugador["nombre_jugador"],
                "ranking_anterior": jugador["ranking_anterior"],
                "ranking_actual": jugador["ranking_actual"]
            }
            for jugador in row["jugadores"]
        ]
    }
    for row in result
]

output_path = "./tmp/nuevo_ranking.json"
with open(output_path, "w") as f:
    json.dump(json_output, f, indent=2)

print(f"JSON file saved to {output_path}")

#################################################

spark.stop()

+-------+--------------------+--------------------+-----------+------------+-----------------------+----------------+
|ranking|              nombre|         nombre_pais|codigo_pais|numero_goles|numero_partidos_jugados|best_player_flag|
+-------+--------------------+--------------------+-----------+------------+-----------------------+----------------+
|     18|      Miroslav Klose|            Alemania|          1|          71|                    137|               1|
|     23|         Gerd Müller|    Alemania Federal|          2|          68|                     62|               1|
|     50|     Joachim Streich|   Alemania Oriental|          3|          55|                    102|               1|
|     15|      Majed Abdullah|      Arabia Saudita|          4|          72|                    117|               1|
|      5|        Lionel Messi|           Argentina|          5|          81|                    158|               1|
|     35|          Edin Džeko| Bosnia y Herzego...|          7|          60|                    118|               1|
|     10|                Pelé|              Brasil|          8|          77|                     92|               1|
|     24|       Romelu Lukaku|             Bélgica|          6|          68|                    101|               1|
|     44|        Samuel Eto'o|             Camerún|          9|          56|                    118|               1|
|     38|         Cha Bum-Kun|       Corea del Sur|         10|          58|                    135|               1|
|     29|       Didier Drogba|     Costa de Marfil|         11|          65|                    105|               1|
|     27|       Hossam Hassan|              Egipto|         12|          68|                    176|               1|
|      7|        Ali Mabkhout| Emiratos Arabes ...|         13|          79|                    104|               1|
|     37|         David Villa|              España|         14|          59|                     98|               1|
|     41|       Clint Dempsey|      Estados Unidos|         15|          57|                    141|               1|
|     43|      Landon Donovan|      Estados Unidos|         15|          57|                    157|               1|
|     34|  Abdul Ghani Minhat| Federación Malay...|         16|          61|                     71|               1|
|     25|Carlos Ruiz Gutié...|           Guatemala|         17|          68|                    133|               1|
|     40|        Carlos Pavón|            Honduras|         18|          57|                    101|               1|
|     11|       Sándor Kocsis|             Hungría|         19|          75|                     68|               1|
+-------+--------------------+--------------------+-----------+------------+-----------------------+----------------+
only showing top 20 rows

JSON file saved to ./tmp/nuevo_ranking.json

In [60]:
from typing import cast
import sys
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import explode, col, desc, avg, min, max, rank, asc, round
from pyspark.sql import Window
from math import sqrt
from pyspark.sql.functions import udf
import math
import os
import time

spark = SparkSession.builder.master("local").getOrCreate()

####### PROGRAME SU RESPUESTA AQUI ##############
df = spark.read.option("multiLine", "true").json("./CENTROS_EDUCATIVOS_MADRID.json")

df_avg_coordinates = df.groupBy("centro_titularidad") \
    .agg(
        F.avg("direccion_coor_x").alias("avg_x"),
        F.avg("direccion_coor_y").alias("avg_y")
    )

df_avg_coordinates.show()

def euclidean_distance(x1, y1, x2, y2):
    x1 = 0 if x1 is None else x1
    y1 = 0 if y1 is None else y1
    x2 = 0 if x2 is None else x2
    y2 = 0 if y2 is None else y2
    
    return math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

euclidean_udf = udf(euclidean_distance, DoubleType())

df_alias = df.alias("centros")
df_avg_coordinates_alias = df_avg_coordinates.alias("avg_coords")

df_avg_coordinates = df_avg_coordinates.withColumnRenamed("centro_titularidad", "avg_centro_titularidad")

df_with_distance = df.join(df_avg_coordinates, df["centro_titularidad"] == df_avg_coordinates["avg_centro_titularidad"], "inner") \
    .withColumn("distance_to_avg", 
                euclidean_udf(df["direccion_coor_x"], df["direccion_coor_y"], df_avg_coordinates["avg_x"], df_avg_coordinates["avg_y"]))


window_spec = Window.partitionBy("centro_titularidad").orderBy("distance_to_avg")
df_closest_center = df_with_distance.withColumn("rank", F.row_number().over(window_spec))

df_closest_center = df_closest_center.filter(df_closest_center.rank == 1)

df_closest_center.show(truncate=False)


def get_file_size(file_path):
    return os.path.getsize(file_path) / (1024 * 1024) # Tamaño en MB


def measure_time(func):
    start_time = time.time()
    func()
    return time.time() - start_time


df_closest_center.write.mode("overwrite").parquet("./tmp/closest_center.parquet")
df_closest_center.write.mode("overwrite").json("./tmp/closest_center.json")
df_closest_center.write.mode("overwrite").option("delimiter", "|").csv("./tmp/closest_center.csv", header=True)

parquet_size = get_file_size("./tmp/closest_center.parquet")
csv_size = get_file_size("./tmp/closest_center.csv")
json_size = get_file_size("./tmp/closest_center.json")

parquet_schema = df_closest_center.schema
csv_schema = df_closest_center.schema
json_schema = df_closest_center.schema

parquet_write_time = measure_time(lambda: df_closest_center.write.mode("overwrite").parquet("./tmp/closest_center.parquet"))
csv_write_time = measure_time(lambda: df_closest_center.write.option("delimiter", "|").mode("overwrite").csv("./tmp/closest_center.csv", header=True))
json_write_time = measure_time(lambda: df_closest_center.write.mode("overwrite").json("./tmp/closest_center.json"))

parquet_read_time = measure_time(lambda: spark.read.parquet("./tmp/closest_center.parquet"))
csv_read_time = measure_time(lambda: spark.read.option("delimiter", "|").csv("./tmp/closest_center.csv", header=True))
json_read_time = measure_time(lambda: spark.read.json("./tmp/closest_center.json"))

print(f"Parquet File Size: {parquet_size} MB")
print(f"CSV File Size: {csv_size} MB")
print(f"JSON File Size: {json_size} MB")

print(f"\nParquet Write Time: {parquet_write_time} seconds")
print(f"CSV Write Time: {csv_write_time} seconds")
print(f"JSON Write Time: {json_write_time} seconds")

print(f"\nParquet Read Time: {parquet_read_time} seconds")
print(f"CSV Read Time: {csv_read_time} seconds")
print(f"JSON Read Time: {json_read_time} seconds")

print("\nParquet Schema:")
print(parquet_schema)
print("\nCSV Schema:")
print(csv_schema)
print("\nJSON Schema:")
print(json_schema)

#################################################

+--------------------+-----------------+-----------------+
|  centro_titularidad|            avg_x|            avg_y|
+--------------------+-----------------+-----------------+
|             PÚBLICO|440157.3842874543|4474481.943970768|
|             PRIVADO|439602.9362934363|4476838.754826255|
|  PRIVADO CONCERTADO|440264.7489361702|4474293.580851064|
|PÚBLICO-TITULARID...|         438924.0|        4479147.0|
+--------------------+-----------------+-----------------+

+-------------+--------------------------------------------------------------------+------------------+--------------------------+--------------------------------------------------+------------------------------------------+---------------------------+-------------------------------------------+------------+------------------+------------------+------------------+------------------+------------------------------------------------------+----------+--------------+-----------------------+----------------+----------------+----------------+-------------------------+------------------+---------------+---------------+----------------+----------------+---------------------------+-----------------+-----------------+------------------+----+
|centro_codigo|centro_nombre                                                       |centro_tipo_codigo|centro_tipo_desc_abreviada|centro_tipo_descripcion                           |centro_titular                            |centro_titularidad         |contacto_email1                            |contacto_fax|contacto_telefono1|contacto_telefono2|contacto_telefono3|contacto_telefono4|contacto_web                                          |dat_codigo|dat_nombre    |direccion_codigo_postal|direccion_coor_x|direccion_coor_y|direccion_numero|direccion_via_nombre     |direccion_via_tipo|distrito_codigo|distrito_nombre|municipio_codigo|municipio_nombre|avg_centro_titularidad     |avg_x            |avg_y            |distance_to_avg   |rank|
+-------------+--------------------------------------------------------------------+------------------+--------------------------+--------------------------------------------------+------------------------------------------+---------------------------+-------------------------------------------+------------+------------------+------------------+------------------+------------------+------------------------------------------------------+----------+--------------+-----------------------+----------------+----------------+----------------+-------------------------+------------------+---------------+---------------+----------------+----------------+---------------------------+-----------------+-----------------+------------------+----+
|28062084     |INSTITUTO VOX                                                       |058               |CPR FPE                   |CENTRO PRIVADO DE FORMACIÓN PROFESIONAL ESPECÍFICA|INSTITUTO VOX, S.L. UNIPERSONAL           |PRIVADO                    |institutovox@institutovox.es               |            |                  |915471759         |                  |                  |                                                      |5         |Madrid-Capital|                       |439513          |4476920         |115B            |de Guzmán el Bueno       |CALLE             |07             |Chamberí       |079             |Madrid          |PRIVADO                    |439602.9362934363|4476838.754826255|121.19948487467829|1   |
|28022323     |TEIDE II                                                            |058               |CPR FPE                   |CENTRO PRIVADO DE FORMACIÓN PROFESIONAL ESPECÍFICA|SOCIEDAD COOPERATIVA MADRILEÑA TEIDE-HEASE|PRIVADO CONCERTADO         |cc.teideii.madrid@educa.madrid.org         |913487658   |915483931         |                  |                  |                  |http://www.teideformacion.com                         |5         |Madrid-Capital|28013                  |439841          |4474146         |49              |Mayor                    |CALLE             |01             |Centro         |079             |Madrid          |PRIVADO CONCERTADO         |440264.7489361702|4474293.580851064|448.7129020946017 |1   |
|28018344     |SANTA TERESA DE JESUS                                               |042               |IES                       |INSTITUTO DE EDUCACIÓN SECUNDARIA                 |COMUNIDAD DE MADRID                       |PÚBLICO                    |ies.santateresa.madrid@educa.madrid.org    |915418034   |915415996         |                  |                  |                  |http://www.educa.madrid.org/ies.santateresa.madrid    |5         |Madrid-Capital|28013                  |439759          |4474678         |9               |del Fomento              |CALLE             |01             |Centro         |079             |Madrid          |PÚBLICO                    |440157.3842874543|4474481.943970768|444.01352129048774|1   |
|28060580     |ESCUELA DE FORMACION ESPEC. IMAGEN DIAG. HOSPITAL CLINICO SAN CARLOS|049               |CP FPE                    |CENTRO PÚBLICO DE FORMACIÓN PROFESIONAL ESPECÍFICA|SERVICIO MADRILEÑO DE SALUD               |PÚBLICO-TITULARIDAD PRIVADA|fpe.hospitalclinico.madrid@educa.madrid.org|913303580   |913303583         |                  |                  |                  |http://www.educa.madrid.org/fpe.hospitalclinico.madrid|5         |Madrid-Capital|28040                  |438970          |4476829         |s/n             |del Profesor Martín Lagos|CALLE             |09             |Moncloa-Aravaca|079             |Madrid          |PÚBLICO-TITULARIDAD PRIVADA|438924.0         |4479147.0        |2318.4563830272937|1   |
+-------------+--------------------------------------------------------------------+------------------+--------------------------+--------------------------------------------------+------------------------------------------+---------------------------+-------------------------------------------+------------+------------------+------------------+------------------+------------------+------------------------------------------------------+----------+--------------+-----------------------+----------------+----------------+----------------+-------------------------+------------------+---------------+---------------+----------------+----------------+---------------------------+-----------------+-----------------+------------------+----+

Parquet File Size: 0.00018310546875 MB
CSV File Size: 0.00018310546875 MB
JSON File Size: 0.00018310546875 MB

Parquet Write Time: 0.15857839584350586 seconds
CSV Write Time: 0.18128752708435059 seconds
JSON Write Time: 0.1659090518951416 seconds

Parquet Read Time: 0.048081159591674805 seconds
CSV Read Time: 0.06369280815124512 seconds
JSON Read Time: 0.02221965789794922 seconds

Parquet Schema:
StructType([StructField('centro_codigo', StringType(), True), StructField('centro_nombre', StringType(), True), StructField('centro_tipo_codigo', StringType(), True), StructField('centro_tipo_desc_abreviada', StringType(), True), StructField('centro_tipo_descripcion', StringType(), True), StructField('centro_titular', StringType(), True), StructField('centro_titularidad', StringType(), True), StructField('contacto_email1', StringType(), True), StructField('contacto_fax', StringType(), True), StructField('contacto_telefono1', StringType(), True), StructField('contacto_telefono2', StringType(), True), StructField('contacto_telefono3', StringType(), True), StructField('contacto_telefono4', StringType(), True), StructField('contacto_web', StringType(), True), StructField('dat_codigo', StringType(), True), StructField('dat_nombre', StringType(), True), StructField('direccion_codigo_postal', StringType(), True), StructField('direccion_coor_x', LongType(), True), StructField('direccion_coor_y', LongType(), True), StructField('direccion_numero', StringType(), True), StructField('direccion_via_nombre', StringType(), True), StructField('direccion_via_tipo', StringType(), True), StructField('distrito_codigo', StringType(), True), StructField('distrito_nombre', StringType(), True), StructField('municipio_codigo', StringType(), True), StructField('municipio_nombre', StringType(), True), StructField('avg_centro_titularidad', StringType(), True), StructField('avg_x', DoubleType(), True), StructField('avg_y', DoubleType(), True), StructField('distance_to_avg', DoubleType(), True), StructField('rank', IntegerType(), False)])

CSV Schema (row-based, same as Parquet):
StructType([StructField('centro_codigo', StringType(), True), StructField('centro_nombre', StringType(), True), StructField('centro_tipo_codigo', StringType(), True), StructField('centro_tipo_desc_abreviada', StringType(), True), StructField('centro_tipo_descripcion', StringType(), True), StructField('centro_titular', StringType(), True), StructField('centro_titularidad', StringType(), True), StructField('contacto_email1', StringType(), True), StructField('contacto_fax', StringType(), True), StructField('contacto_telefono1', StringType(), True), StructField('contacto_telefono2', StringType(), True), StructField('contacto_telefono3', StringType(), True), StructField('contacto_telefono4', StringType(), True), StructField('contacto_web', StringType(), True), StructField('dat_codigo', StringType(), True), StructField('dat_nombre', StringType(), True), StructField('direccion_codigo_postal', StringType(), True), StructField('direccion_coor_x', LongType(), True), StructField('direccion_coor_y', LongType(), True), StructField('direccion_numero', StringType(), True), StructField('direccion_via_nombre', StringType(), True), StructField('direccion_via_tipo', StringType(), True), StructField('distrito_codigo', StringType(), True), StructField('distrito_nombre', StringType(), True), StructField('municipio_codigo', StringType(), True), StructField('municipio_nombre', StringType(), True), StructField('avg_centro_titularidad', StringType(), True), StructField('avg_x', DoubleType(), True), StructField('avg_y', DoubleType(), True), StructField('distance_to_avg', DoubleType(), True), StructField('rank', IntegerType(), False)])

JSON Schema (row-based, same as Parquet):
StructType([StructField('centro_codigo', StringType(), True), StructField('centro_nombre', StringType(), True), StructField('centro_tipo_codigo', StringType(), True), StructField('centro_tipo_desc_abreviada', StringType(), True), StructField('centro_tipo_descripcion', StringType(), True), StructField('centro_titular', StringType(), True), StructField('centro_titularidad', StringType(), True), StructField('contacto_email1', StringType(), True), StructField('contacto_fax', StringType(), True), StructField('contacto_telefono1', StringType(), True), StructField('contacto_telefono2', StringType(), True), StructField('contacto_telefono3', StringType(), True), StructField('contacto_telefono4', StringType(), True), StructField('contacto_web', StringType(), True), StructField('dat_codigo', StringType(), True), StructField('dat_nombre', StringType(), True), StructField('direccion_codigo_postal', StringType(), True), StructField('direccion_coor_x', LongType(), True), StructField('direccion_coor_y', LongType(), True), StructField('direccion_numero', StringType(), True), StructField('direccion_via_nombre', StringType(), True), StructField('direccion_via_tipo', StringType(), True), StructField('distrito_codigo', StringType(), True), StructField('distrito_nombre', StringType(), True), StructField('municipio_codigo', StringType(), True), StructField('municipio_nombre', StringType(), True), StructField('avg_centro_titularidad', StringType(), True), StructField('avg_x', DoubleType(), True), StructField('avg_y', DoubleType(), True), StructField('distance_to_avg', DoubleType(), True), StructField('rank', IntegerType(), False)])